{
  "proseWrap": "never",
  "trailingComma": "none",
  "singleQuote": false,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "semi": false,
  "tabWidth": 2
}