<body style="
    background: #40444a; color: #d0d1d2; font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto; height: auto; padding: 50px 0;">
  <div style="
      background: #202224; padding: 20px;
      padding-bottom: 25px; text-align: left;
      margin: 0 auto; border-radius: 5px;
      width: 250px;">
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <img src="https://i.imgur.com/e3K2oaW.png"
            style="width: 50px; height: 50px; margin: 5px 10px 0 0; border-radius: 10px;" />
        </td>
        <td>
          <p style="margin: 0; font-weight: 700; font-size: 25px;">
            Sorbot - Code
          </p>
        </td>
      </tr>
    </table>
    <p style="text-align: justify; text-justify: inter-word">
      Bonjour <a style="font-weight: 700; color: #7289da">{tag}</a>,
    </p>
    <p style="text-align: justify; text-justify: inter-word">
      Dans Discord, cliquez sur le bouton "Entrer le code" puis renseignez le code suivant :
    </p>
    <p style="
        text-align: center; text-justify: inter-word;
        margin: 10px 0 10px 0; font-size: 30px;
        font-family: 'Lucida Console', Monaco, monospace;
        border-radius: 5px; background: #403830; padding: 10px;">
      {code}
    </p>
    <p style="text-align: justify; text-justify: inter-word">
      Si vous n'êtes pas originaire de cette opération, vous pouvez <b>ignorer</b> ce mail ou y répondre en incluant
      dans son contenu la phrase suivante : "<b>Je ne suis pas originaire de cette opération</b>" afin de nous reporter
      l'incident.
    </p>
  </div>
</body>
